.task-list-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.task-list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.task-list {
    flex: 1;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: flex-start;
}

.add-task-container {
    padding: 20px;
    background-color: #1e1e1e;
}

.add-task {
    background: none;
    border: 1px solid #3a3a3a;
    color: #3a3a3a;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.task:hover {
    background-color: rgba(99, 97, 97, 0.94);
}

.task-list-title {
    font-size: 1.5em;
    margin-top: 0;
}

.task {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.task input[type="checkbox"] {
    margin-right: 15px;
}

.task label {
    flex: 1;
    color: #fff;
}

.task-details-container {
    width: 300px;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #444;
    position: relative;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.close-task-details {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}
